@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Color+Emoji&display=swap");

:root {
  --green-color: #a4ffaf;
  --text-color: #e6e5ea;
  --background-color: #24232c;
  --strength-color: #18171f;
  --font-family: "JetBrains Mono", monospace;
  --font-size-mobile: 16px;
  --font-size-body: 18px;
  --font-size-heading-m: 24px;
  --font-size-heading-l: 32px;
}

.no-select {
  user-select: none;
}

html,
body,
root {
  min-height: 100vh;
  width: 100vw;
  min-width: 345px;
}

.pg-body {
  background: linear-gradient(#14131b, #08070b);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: bold;
}

.main-container {
  width: 540px;
  height: 632px;
}

.password-container {
  background-color: var(--background-color);
  height: 80px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-heading-m);
}

.copy-section {
  position: relative;
  font-size: var(--font-size-body);
  color: var(--green-color);
}

.copied-text {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.settings-container {
  background-color: var(--background-color);
  height: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-body);
}

.settings-box {
  width: 476px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 32px 0;
}

.settings-checkbox {
  height: 152px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pg-title {
  font-size: var(--font-size-heading-m);
  color: #817d92;
  margin-bottom: 31px;
}

.password-field {
  height: 63px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-heading-l);
  margin-left: 32px;
}

.password-field:empty:before {
  content: "P4$5W0rD!";
  color: #54535b;
}

.copy-button {
  margin-right: 32px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 21px;
}

.copy-button svg {
  object-fit: contain;
  fill: var(--green-color);
}

.copy-button:hover svg {
  fill: var(--text-color);
}

.length-container {
  width: 100%;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.length-value {
  height: 43px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-body);
  margin-bottom: 16px;
}

.length-text {
  height: 23px;
  font-size: var(--font-size-body);
}

.length-size {
  height: 43px;
  font-size: var(--font-size-heading-l);
  color: var(--green-color);
}

.slider-container {
  height: 28px;
  width: 100%;
  padding-right: 3px;
  margin-bottom: 32px;
}

.slider {
  -webkit-appearance: none;
  height: 8px;
  background: var(--strength-color);
  background-image: linear-gradient(var(--green-color), var(--green-color));
  background-repeat: no-repeat;
  width: 100%;
  cursor: pointer;
  margin: 0 0 0 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border-width: 10px;
  border-color: var(--green-color);
  background: var(--strength-color);
  box-shadow: var(--green-color) 0px 0px 0px 2px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0) left top no-repeat;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

input[type="checkbox"]:hover + span {
  border: 2px solid var(--green-color);
}

input[type="checkbox"]:checked + span {
  background: var(--green-color) -19px top no-repeat;
  border: 2px solid var(--green-color);
  background-image: url(/public/icon-check.svg);
  background-size: auto;
  background-position-x: center;
  background-position-y: 3px;
}

input[type="checkbox"] + span {
  margin-right: 24px;
}

.strength-container {
  background-color: var(--strength-color);
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.strength-level-box {
  height: 28px;
  margin: auto;
  margin-left: 7.5px;
  color: var(--green-color);
}

.generate-button {
  background-color: var(--green-color);
  height: 63px;
  border: 2px solid var(--green-color);
  width: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--strength-color);
  cursor: pointer;
}

.generate-button:hover {
  background-color: var(--background-color);
  border: 2px solid var(--green-color);
  color: var(--green-color);
}

.generate-button svg {
  padding-left: 24px;
  fill: var(--strength-color);
}

.generate-button:hover svg {
  fill: var(--green-color);
}

.strength-text {
  color: #817d92;
  margin-left: 32px;
  font-weight: bold;
}

.strength-and-generate-button-container {
  width: 100%;
}

.strength-values {
  height: 32px;
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-weight: bold;
  font-size: var(--font-size-heading-m);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .pg-title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .main-container {
    width: 343px;
    height: 503px;
  }

  .password-container {
    height: 64px;
    margin-bottom: 16px;
  }

  .password-field {
    font-size: var(--font-size-heading-m);
    margin: 16px 0 16px 16px;
  }

  .copy-button {
    margin-right: 16px;
    height: 20px;
    width: 17.5px;
  }
  .settings-container {
    height: 423px;
    font-size: 16px;
  }

  .settings-box {
    width: 311px;
    margin: 16px 0;
  }

  input[type="checkbox"] + span {
    margin-right: 20px;
  }

  .strength-container {
    height: 56px;
    margin-bottom: 16px;
  }

  .generate-button {
    height: 54px;
  }

  .strength-values {
    font-size: 20px;
  }

  .length-text {
    font-size: 16px;
  }

  .length-container {
    height: 67px;
  }

  .length-value {
    height: 31px;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .length-size {
    font-size: var(--font-size-heading-m);
  }

  .settings-checkbox {
    height: 132px;
  }

  .strength-text {
    margin-left: 16px;
  }

  .strength-values {
    margin-right: 16px;
    font-size: var(--font-size-body);
  }
}
